$primary-color: #ffee00;
$secondary-color: #002a54;
$tertiary-color: #ffffff;

$info-color: #0099ff;
$success-color: #009933;
$error-color: #eb0000;
$text-color-primary: #0d0d0d;
$text-color-secondary: #565656;

$loader-bg-color: #f8f80793;
$loader-dot-color: $secondary-color;
$loader-dot-size: 2vmin;

$container-width-xl: 1200px;
$global-radius: 4px;