<div class="table">
    <table class="table__content" role="grid" aria-label="Data Table">
        <thead class="table__header">
            <tr role="row">
                <th *ngFor="let header of dataHeader" class="table__header__cell" [class.text-center]="header.class" scope="col" role="columnheader">
                    <div class="table__header__cell__icon">
                        <span>{{ header.name }}</span>
                        <img *ngIf="header.tooltip" [title]="header.tooltip" src="ui-kit/assets/svgs/info.svg" alt="tooltip" width="20px" height="20px">
                    </div>
                </th>  
                <th *ngIf="options" scope="col" class="table__header__cell" role="columnheader"></th>
            </tr>
        </thead>
        <tbody class="table__body">
            <tr class="table__row" role="row" *ngFor="let body of dataBodyFiltered">
                <td role="gridcell" *ngFor="let cell of dataHeader" class="table__cell" [class.text-center]="cell.class">
                    <span *ngIf="cell.type === 'text'">{{ body | dataKeyTransfromed: cell.key }}</span>
                    <span *ngIf="cell.type === 'date'">{{ body | dataKeyTransfromed: cell.key | date:'dd/MM/yyyy' }}</span>
                    <img *ngIf="cell.type === 'image'" [src]="body | dataKeyTransfromed: cell.key" alt="Logo del producto"/>
                </td>
                <td *ngIf="options" role="gridcell" class="table__cell__buttons text-center">
                    <button>
                        <img src="ui-kit/assets/svgs/options.svg" alt="icono de opciones" width="16px" height="16px"/>
                    </button>
                </td>
            </tr>
            <tr class="table__row" role="row" *ngIf="dataBodyFiltered.length === 0">
                <td class="table__empty-cell" role="gridcell" colspan="100%">
                    <span>No se encontraron registros.</span>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td [attr.colspan]="dataHeader.length">
                    <div class="table__footer">
                        <span class="table__footer__results">
                            {{ dataBodyFiltered.length }} Resultados
                        </span>
                        <div class="table__footer__pagination">
                            pag
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>