@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/roboto/Roboto-Light.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/roboto/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/roboto/Roboto-Medium.woff2") format("woff2");
    font-weight: 500;
}
  
@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/roboto/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
}
  
@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/roboto/Roboto-ExtraBold.woff2") format("woff2");
    font-weight: 900;
}

* {
    font-family: Roboto,arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,icomoon;
}