<div class="content" [formGroup]="formGroup!">
    <label *ngIf="dropdownData?.label" class="content__label" [for]="dropdownData?.id">{{ dropdownData?.label }}</label>

    <select class="content__dropdown" (change)="onChangeEvent($event)"
        [id]="dropdownData?.id"
        [formControlName]="dropdownData?.formControlName ?? ''"
        [required]="dropdownData?.required ?? false" name="" id=""
        [attr.aria-label]="dropdownData?.label"
        [attr.aria-required]="dropdownData?.required ?? null">
        <option *ngFor="let option of dropdownData?.options" [value]="option.value">{{ option.label }}</option>
    </select>
</div>